<navigation></navigation>

<div class="container">

  <div class="row">

    <div class="col-md-6">

      <h1 class="form-signin-heading">Sign in</h1>

        <form name="login" ng-submit="onSubmit(registration.$valid)" novalidate>
            <div ng-show="invalidLogin">
                <div class="alert alert-danger">{{message}}</div>
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name='email' ng-model="credentials.email" ng-disabled="invalidToken" required>
                <div ng-messages="login.email.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">Your email address is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="credentials.password" ng-disabled="invalidToken" ng-minlength="6" required>
                <div ng-messages="login.password.$error">
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="minlength">Password must be at least 6 characters long.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="!login.$valid || invalidLogin">Sign in</button>
        </form>

    </div>
</div>

</div>